#course-progress{
	position: fixed;
	right: 0;
	top: 0;
	width: 200px;
	height: 100%;
	background: rgba(0,0,0,0.3);
}

#course-track{
	width:14px;
	height: 100%;
	background: rgba(0,0,0,0.3);
	margin-left: 90px;
}

#course-track .bouy{
	position: absolute;
	margin-left: -3px;
	color: #fff;
	font-size: 18px;
	transform: scale(1.2);
}

/* bouy */
#course-track #bouy-1{
	top: 90%;
}

#course-track #bouy-2{
	top: 20%;
}


/* boat */
#course-track #boat-1{
	top: 40%;
}

#course-track #boat-2{
	top: 43%;
}

#course-track #boat-3{
	top: 46%;
}

#course-track #boat-4{
	top: 47%;
}

#course-track .position{
	position: absolute;
	transform: scale(1.5);
	transform-origin: left center;
}

#course-track .position.right{
	margin-left: 23px;
}

#course-track .position.left{
	margin-left: -43px;
}

/* colors are defined in base.css */
#course-track .position:before{
	content: '';
	display: block;
	position: absolute;
	margin-top: -5px;
	width: 0;
}
#course-track .position.left:before{	
	margin-left: 10px;
	margin-top: -4.5px;
	border-style: solid;
	border-width: 10px 0px 10px 10px;
	border-color: transparent;

}
#course-track .position.right:before{
	margin-left: -10px;
	border-style: solid;
	border-width: 10px 10px 10px 0px;
	border-color: transparent;
}