/* Dashboard */
#dashboard{
	position: fixed;
	top: 0; 
	left: 0;
	right: 0; 
	bottom: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
}

#live-stream{
	position: fixed;
	display: none; 
	width: 100vw;
 	height: calc(100vw/1.77777778);
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 4;
}
@media only screen and (max-aspect-ratio : 16/9){
	#live-stream{	
		height: 100vh;
		width: calc( 100vh/0.5624999999);
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}
.otis-logo{
	position: fixed;
	left: 30px;
	bottom: 30px;
	width: 120px;
	height: auto;
	opacity: 0.8;
	z-index: 10;
}

#arrow-container {
	position: fixed;
	right: 230px;
	top: 90px;
	width: 85px;
	z-index: 5;
}

.arrow{
	color: #fff;
	padding: 25px;
	font-size: 14px;
	text-indent: 1;
	margin-bottom: 20px;
}

.arrow img{
	position: absolute;
	height: auto;
	width: 55px;
	margin: -20px 0 0 -32px;
}

.arrow-text{
	position: absolute;
	font-size: 10px;
	text-align: center;
	margin-left: -30px;
	margin-top: 20px;
	width: 60px;
	color: #fff;
}
