#course-progress{
	box-sizing: border-box;
	position: fixed;
	right: 0;
	top: 0;
	width: 180px;
	height: calc( 100% - 120px );
	background: rgba(0,0,0,0.3);
	z-index: 5;
	padding: 30px 0px;
}

#course-track{
	position: relative;
	width:14px;
	background: rgba(0,0,0,0.3);
	margin-left: 80px;
	height: 300%;
	transform: translateY(-70%);
}

#course-track .bouy{
	position: absolute;
	margin-left: -3px;
	color: #fff;
	font-size: 18px;
	transform: scale(1.2);
}

/* bouy */
#course-track .bouy.lijn{
	width: 40px;
    border-bottom: 3px dotted #fff;
    border-radius: 0;
    box-shadow: none;
    height: 0;
    background: transparent;
    margin-top: -3px;
    margin-left: -15px;
    text-indent: 40px;
    line-height: 1px;
}


#course-track .position{
	top: 100%;
}

#course-track .position{
	position: absolute;
	transform: scale(1.5) translateY(-50%);
	transform-origin: left center;
}

#course-track .position.right{
	margin-left: 23px;
}

#course-track .position.left{
	margin-left: -43px;
}

/* colors are defined in base.css */
#course-track .position:before{
	content: '';
	display: block;
	position: absolute;
	margin-top: -5px;
	width: 0;
}
#course-track .position.left:before{	
	margin-left: 10px;
	margin-top: -4.5px;
	border-style: solid;
	border-width: 10px 0px 10px 10px;
	border-color: transparent;

}
#course-track .position.right:before{
	margin-left: -10px;
	border-style: solid;
	border-width: 10px 10px 10px 0px;
	border-color: transparent;
}